$dark           : rgba(65,41,28,1);
$light          : rgba(245,241,226,1);
$primary        : rgba(137,211,223,1);
$primary-light  : rgba(207,235,240,1);
$accent         : rgba(255,241,118,1);
$accent-light   : rgba(248,244,180,1);
$secondary      : rgba(148,203,108,1);
$secondary-light: rgba(216,236,170,1);
$danger         : rgba(246,148,111,1);
$danger-light   : rgba(251,180,156,1);
$purple         : rgba(99,72,129,1); //purple
$purple-light   : rgba(209,202,217,1);
