//for consistent spacing
$space        : 5px;
$space-dynamic: 5%;
$gap          : 10px;
$gap-dynamic  : 10%;
$some         : 3px;
$some-dynamic : 3%;
$lot          : 15px;
$lot-dynamic  : 15%;
$ton          : 20px;
$ton-dynamic  : 20%;
$all          : 100%;
$half         : 50%;
$third        : 33.33333%;
$fourth       : 25%;
$fifth        : 20%;
$sixth        : 16.66666%;
//z-indexes
$below        : 1;
$ground       : 10;
$above        : 100;
$clouds       : 1000;
