<!DOCTYPE html>
<div class="modal" id="editprofile-modal">
    <div>
        <a class="close" ng-click="vm.toggleEdit()">X</a>
        <form name="userEditForm" novalidate ng-submit="(userEditForm.$valid && userEditCtrl.save(vm.info)) || (!userEditForm.$valid && userEditCtrl.showErrors())" ng-cloak>
            <input type="text" class="name" placeholder="First Name" required ng-model="vm.info.first" ng-maxlength="20" />
            <input type="text" class="name" placeholder="Last Name" ng-model="vm.info.last" ng-maxlength="20" />
            <input type="text" placeholder="About You" ng-model="vm.info.about" ng-maxlength="400" />
            <input type="number" placeholder="Year Born" ng-model="vm.info.year" />
            <input type="number" placeholder="Month Born" ng-model="vm.info.month" />
            <input type="number" placeholder="Day Born" ng-model="vm.info.day" />
            <input type="text" placeholder="Location" ng-model="vm.info.location" ng-maxlength="200" />
            <select placeholder="Gender" ng-model="vm.info.gender">
                <option name='m'>Male</option>
                <option name='f'>Female</option>
            </select>
            <button class="btn btn-success btn-block" type="submit">Save</button>
        </form>
    </div>
</div>
